/*================================Table Of Contents===========================*/
/*
    1. Variables
    2. Main
    3. Media Queries
*/
/*================================1. Variables Ref. Only======================*/

/*
  background-color: #efefef;
  text-color: #555;
  accent-color: #aaa;
  shadow-color: #bbb;
*/

/*================================2. Main=====================================*/

body {
  font-family: Helvetica, sans-serif;
  text-align: left;
  line-height: 1.5;
  background: #fff;                 /* background-color */
  color: #444;                         /* text-color*/
  margin: 0 auto;
  font-size: 16px;
  font-weight: 400;
}
#grey {
  color: #aaa;                         /* accent-color */
}
h1,h2,h3,h4,h5,h6{
  color: #555;                         /* text-color */
  font-weight: normal;
}
h1 a,h2 a,h3 a,h4 a,h5 a,h6 a {
  font-weight: inherit;
}
h1 {
  font-size: 2em;
  line-height: 1.2em;
  margin: 0 0 .4em 0;
}
h2 {
  font-size: 1.8em;
  line-height: 1.2em;
  margin: 0 0 .4em 0;
}
h3 {
  font-size: 1.6em;
  line-height: 1.2em;
  margin: 0 0 .35em 0;
}
h4 {
  font-size: 1.4em;
  line-height: 1.2em;
  margin: 0 0 .35em 0;
}
h5 {
  font-size: 1.2em;
  line-height: 1.2em;
  margin: 0 0 .3em 0;
}
h6 {
  font-size: 1em;
  line-height: 1.2em;
  margin: 0 0 .3em 0;
}
table {
  margin-right: 1em;
}
tr {
  padding: 0;
}
td {
  padding: .125em 0 .125em 1em;
}
a {
  color: #444;                         /* text-color */
  padding: 5px 2px 1px 2px;
  text-decoration: none;
  border-bottom: 1px solid #aaa;       /* accent-color */
}
a:hover {
  color: #aaa;                         /* accent-color */
  text-decoration: none;
  border-bottom: 1px solid #444;       /* text-color */
}
li {
  padding: .125em 0;
}
hr { 
  border: 0;
  width: 98%;
  height: 1px; 
  background: #aaa;                    /* accent-color */
  background-image: -webkit-linear-gradient(left,#bbb,#aaa,#bbb); /* shadow-color,accent-color,shadow-color */
  background-image: -moz-linear-gradient(left,#bbb,#aaa,#bbb); 
  background-image: -ms-linear-gradient(left,#bbb,#aaa,#bbb);
  background-image: -o-linear-gradient(left,#bbb,#aaa,#bbb);
  background-image: linear-gradient(left,#bbb,#aaa,#bbb);
  margin: 1.5em auto;
  clear: both;
}
small {
  font-size: .9em
}
nav {
  margin-bottom: 1.5em; 
  width: 100%;
}
.nav-link {
  padding: 5px 5px 1px 5px;
}
img {
  padding: 4px;
  border: 1px solid #aaa;              /* accent-color */
  box-shadow: 1px 3px 3px #bbb;        /* shadow-color */
}
body > a > img {
  margin-right: 1em;
  float: right;
  height: 200px;
}
footer > a > img {
  margin: 0 .75em .5em 0;
  width: 15%;
  float: left;
  clear: both;
}
blockquote {
  margin-left: 2em;
  border-left: 1px solid #aaa;         /* accent-color */
  padding: 0 0 0 5px;
  display: block;
}
code {
  margin-left: 2em;
  display: block;
}
footer {
  font-size: 14px;
  margin-bottom: 1.5em;
}
.nound {
  border: none;
  padding: 0;
}
/*================================3. Media Queries============================*/

@media (max-width:300px) {
  img {
    display: none;
  }
}
@media (max-width:380px) {
  body {
    padding: 35px 10px 10px;
  }
  h1 {
    font-size: 1.78125em;
    line-height: 1.2em;
    margin: 0 0 .3em 0;
  }
  h2 {
    font-size: 1.625em;
    line-height: 1.2em;
    margin: 0 0 .3em 0;
  }
  h3 {
    font-size: 1.46875em;
    line-height: 1.2em;
    margin: 0 0 .25em 0;
  }
  h4 {
    font-size: 1.3125em;
    line-height: 1.2em;
    margin: 0 0 .25em 0;
  }
  h5 {
    font-size: 1.15625em;
    line-height: 1.2em;
    margin: 0 0 .2em 0;
  }
  h6 {
    font-size: 1em;
    line-height: 1.2em;
    margin: 0 0 .2em 0;
  }
  body > a > img {
    display: none;
  }
}
@media (min-width:381px) and (max-width:460px) {
  body {
    padding: 43px 13px 10px;
  }
  h1 {
    font-size: 1.9em;
    line-height: 1.2em;
    margin: 0 0 .4em 0;
  }
  h2 {
    font-size: 1.75em;
    line-height: 1.2em;
    margin: 0 0 .4em 0;
  }
  h3 {
    font-size: 1.5625em;
    line-height: 1.2em;
    margin: 0 0 .35em 0;
  }
  h4 {
    font-size: 1.375em;
    line-height: 1.2em;
    margin: 0 0 .35em 0;
  }
  h5 {
    font-size: 1.1875em;
    line-height: 1.2em;
    margin: 0 0 .3em 0;
  }
  h6 {
    font-size: 1em;
    line-height: 1.2em;
    margin: 0 0 .3em 0;
  }
  body > a > img {
    display: none;
  }
}
@media (min-width:461px) and (max-width:540px) {
  body {
    padding: 50px 25px 10px;
  }
  body > a > img {
    display: none;
  }
}
@media (min-width:541px) and (max-width:620px) {
  body {
    padding: 50px 35px 10px;
  }
  body > a > img {
    display: none;
  }
}
@media (min-width:621px) {
  body {
    width: 80%;
    max-width: 45em;
    padding: 50px 45px 10px;
  }
  body > a > img {
    margin-right: 2em;
  }
  footer > a > img {
    display: none;
  }
}
@media (min-width: 800px) {
  body > a > img {
    margin-right: 4em;
  }
}
